body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blueviolet;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gainsboro;
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    color: gainsboro;
}

#scoreBoard {
    width: 100vw;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

#playerScore{
    color: greenyellow;
}

#aiScore{
    color: lightcoral;
}

.gameContainer {
    flex: auto;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: papayawhip;
    border-radius: 20px;
}
.playerChoice, .aiChoice {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
}

input,button {
    width: 100px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.choice {
    border-radius: 20px;
    background-color:gainsboro;
    width: 100px;
    height: 100px;

    transition-property: background-color, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.player:hover:enabled{
    transform: translateX(10px);
    background-color: aquamarine;
}

.ai {
    background-color:lightcoral;
}

.winner {
    font-weight: bold;
    background-color: green;
}

.loser {
    font-weight: bold;
    background-color: red;
}

.tie {
    font-weight: bold;
    background-color: yellow;
}



img {
    width: 100%;
}

.newRound {
    border-radius: 10px;
}