body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#scoreBoard {
    text-align: center;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameContainer {
    flex: auto;
    display: flex;
    margin: auto;
    text-align: center;
    /*gap: 50px;*/
    justify-content: center;
}
.playerChoice, .aiChoice {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
}

button {
    width: 100px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}