body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scoreBoard {
    text-align: center;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameContainer {
    flex: auto;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.playerChoice, .aiChoice {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
}

input,button {
    width: 100px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.choice {
    border-radius: 20px;
    background-color:gainsboro;
    width: 100px;
    height: 100px;

    transition-property: background-color, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.player:hover:enabled{
    transform: translateX(10px);
    background-color: aquamarine;
}


.winner {
    font-weight: bold;
    background-color: green;
}

.loser {
    font-weight: bold;
    background-color: red;
}

.tie {
    font-weight: bold;
    background-color: yellow;
}

img {
    width: 100%;
}

.newRound {
    border-radius: 5px;
}