body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#scoreBoard {
    text-align: center;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameContainer {
    flex: auto;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.playerChoice, .aiChoice {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
}

button {
    width: 100px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.winner {
    font-weight: bold;
    background-color: green;
}

.loser {
    font-weight: bold;
    background-color: red;
}

.tie {
    font-weight: bold;
    background-color: yellow;
}